<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PUT" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <label for="name">Enter username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="name">Enter password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>
    <label for="roles">Roles</label><br>
    <select name="selectedRoles" id="roles" multiple>
        <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.name}"
                th:selected="${user.hasRole(role.name)}"></option>
    </select><br><br>
    <input type="submit" value="Update!">
</form>

<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>