<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>

<table border="2" style="height: 36px; width: 100%; border-collapse: collapse; border-style: solid; margin-left: auto; margin-right: auto;">
    <caption>&nbsp;</caption>
    <tbody>
    <tr style="height: 18px;">
        <td style="width: 12.5%; height: 18px; text-align: center;">ID</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">NAME</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">AGE</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">EMAIL</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">ROLES</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">USERNAME</td>
        <td style="width: 12.5%; height: 18px; text-align: center;">PASSWORD</td>
    </tr>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.id}">id</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.name}">name</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.age}">age</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.email}">email</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.roles}">roles</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.username}">username</td>
    <td style="width: 12.5%; height: 18px; text-align: center;" th:text="${user.password}">pwd</td>
    </tbody>
</table>

<br><br><br><br><br>
<form th:action="@{/logout}" th:method="GET">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>